*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/build/kotlin/buildSrcjar-classes.txt
/buildSrc/build/pluginUnderTestMetadata/plugin-under-test-metadata.properties
/buildSrc/build/reports/plugin-development/validation-report.txt
